rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Function to verify if the requester is an admin
    function isAdmin() {
      return request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    // Rules for waitlist_signups
    match /waitlist_signups/{docId} {
      allow create: if true;
      allow get: if true;
      allow list, update, delete: if isAdmin();
    }

    // Rules for partner_requests (For Restaurants CTA)
    match /partner_requests/{docId} {
      allow create: if true;
      allow read, update, delete: if isAdmin();
    }

    // Write-only rule for contact_messages
    match /contact_messages/{docId} {
      allow create: if true;
      allow read, update, delete: if isAdmin();
    }

    // Rules for settings
    match /settings/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    // Rules for users collection
    match /users/{userId} {
      allow read: if request.auth != null && (request.auth.uid == userId || isAdmin());
      allow write: if isAdmin(); 
    }
  }
}
