rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Rules for waitlist_signups
    match /waitlist_signups/{docId} {
      allow read, write: if true;
    }

    // Rules for partner_requests (For Restaurants CTA)
    match /partner_requests/{docId} {
      allow read, write: if true;
    }

    // Write-only rule for contact_messages
    match /contact_messages/{docId} {
      allow read, write: if true;
    }

    // Rules for settings
    match /settings/{docId} {
      allow read, write: if true;
    }

    // Rules for users collection
    match /users/{userId} {
      allow read, write: if true;
    }
  }
}
